<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>逐拍曲谱</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.hikerpig.zupulse.guitar-pro</string>
				<string>com.hikerpig.zupulse.musicxml</string>
				<string>com.hikerpig.zupulse.compressed-musicxml</string>
			</array>
		</dict>
	</array>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Guitar Pro Score</string>
			<key>UTTypeIdentifier</key>
			<string>com.hikerpig.zupulse.guitar-pro</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gp</string>
					<string>gp3</string>
					<string>gp4</string>
					<string>gp5</string>
					<string>gpx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MusicXML Score</string>
			<key>UTTypeIdentifier</key>
			<string>com.hikerpig.zupulse.musicxml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>musicxml</string>
				<key>public.mime-type</key>
				<string>application/vnd.recordare.musicxml+xml</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.zip-archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Compressed MusicXML Score</string>
			<key>UTTypeIdentifier</key>
			<string>com.hikerpig.zupulse.compressed-musicxml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>mxl</string>
				<key>public.mime-type</key>
				<string>application/vnd.recordare.musicxml</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
